// @import "partials/intro";


#fullpage {
   background: url('../img/FullSizeRender.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   color: #fff;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  h2 {
    text-align: center;
    font-size: 4rem!important;
    margin-top: 2%;
    text-transform: uppercase;    
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
  a {
    color: #fff!important;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
    &:hover {
      font-style: italic;
      // opacity: 0.7;
      color: cyan!important;
    }
  }
  #blank {
    min-height: 500px;
  }


  //**** VIDEO BG ****
  .video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }


  #homeTitle {
    text-align: center;
  }
  #bigtext {
    text-transform: uppercase;
    margin-top: -4%;
  }
  .bigtext-line2 {
    margin-top: -7%;
  }
  #navbar {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    z-index: 10000;
    background: #000;
    ul {
      display: flex;
      justify-content: space-between;
      text-align: center;
      li {
        // padding: 2% 0;
        letter-spacing: 6px;
      }
      a {
        //color: cyan!important;
        display: inline-block;
        padding: 2%;
        -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
        &:before {
          content: '';
        display: block;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        transition: width 0s ease, background .5s ease;
        }
        &:after {
          content: '';
        display: block;
        right: 0;
        bottom: 0;
        height: 3px;
        width: 0;
        background: cyan;
        transition: width .5s ease;
        }
        &:hover:before {
          width: 100%;
        background: cyan;
        transition: width .5s ease;
        }
        &:hover:after {
          width: 100%;
        background: transparent;
        transition: all 0s ease;
        }
        &:active {
          width: 100%;
        background: cyan;
        transition: width .5s ease;
        }
        &:hover {
        font-style: normal;
        opacity: .7;
          // font-style: italic;
    //      -moz-transform: scale(1) rotate(0deg) translateY(-5px);
    //-webkit-transform: scale(1) rotate(0deg) translateY(-5px);
    //-o-transform: scale(1) rotate(0deg) translateY(-5px);
    //-ms-transform: scale(1) rotate(0deg) translateY(-5px);
    //transform: scale(1) rotate(0deg) translateY(-5px);
        }
      }
    }
  }
  #bio {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
    line-height: 1.5;
//     -webkit-box-shadow: 20px 15px 10px 0 #aaa;
// box-shadow: 20px 15px 10px 0 #aaa;
  }
  #press p {
    font-style: italic;
    line-height: 1.5;
    color: #000;
     //border: 1px solid #fff;
    background: #fff;
    padding: 4%;
//    -webkit-box-shadow: 20px 15px 10px 0 #aaa;
//box-shadow: 20px 15px 10px 0 #aaa;
  }
  #bandsintown {
    div {
      margin-top: 4%;
    }
  }
  #video {
    h2 {
      margin-bottom: 4%;
    }
  }
  #audio {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    padding: 4%;
//    -webkit-box-shadow: 20px 15px 10px 0 #aaa;
//box-shadow: 20px 15px 10px 0 #aaa;
  }
  #contactparagraph {
    font-size: 4rem;
    text-transform: uppercase;
    // font-style: italic;
    text-align: center;
  }
  #span3 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
  }
  #contact {
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    //background-color: rgba(255, 255, 255, 0.7);
    .imgLink {
      margin: 2% 4%;
    }
    .imgLink img  {
      background-color: transparent;
      -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
      &:hover {
        opacity: .9;
        -moz-transform: scale(1) rotate(0deg) translateY(-5px);
  -webkit-transform: scale(1) rotate(0deg) translateY(-5px);
  -o-transform: scale(1) rotate(0deg) translateY(-5px);
  -ms-transform: scale(1) rotate(0deg) translateY(-5px);
  transform: scale(1) rotate(0deg) translateY(-5px);
      }
    }
  }
  #creditsList {
    font-size: 1.5rem;
    // font-style: italic;
    text-align: center;
    text-transform: uppercase;
  }
  #copyright {
    font-size: 0.6rem;
    letter-spacing: 4px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    font-weight: 200;
    border: 1px dotted #fff;
    color: #fff;
    background: #000;
    display: block;
    padding: 1%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
//    -webkit-box-shadow: 20px 15px 10px 0 #aaa;
//box-shadow: 20px 15px 10px 0 #aaa;
  }
  #copyright2 {
    font-size: 0.6rem;
    letter-spacing: 4px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: right;
    font-weight: 200;
    border: 1px dotted #fff;
    border-top: none;
    color: #fff;
    background: #000;
    display: block;
    padding: 1%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
//    -webkit-box-shadow: 20px 15px 10px 0 #aaa;
//box-shadow: 20px 15px 10px 0 #aaa;
  }
}
